.survey-item {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: darkgray;
	border-left-color: darkgray;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}

.survey-item:nth-child(even) {
	background: linear-gradient(0.25turn, #f2f2f2bb, #f2f2f299, white);
}

.survey-item-responded {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: green;
	border-left-color: green;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}

.survey-item-unanswered {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: red;
	border-left-color: red;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}

.survey-item:nth-child(even) {
	background: linear-gradient(0.25turn, #f2f2f2bb, #f2f2f299, white);
}

.survey-item-label {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.surveyItem {
	margin: 3px 0 0 3px;
}

.radio-margin {
	margin: auto;
	margin-bottom: 3px;
}

.movieSurvey.surveyItem {
	margin: 0px 0 0 3px;
}


.checkboxgroup {
	display: inline-block;
	text-align: center;
}

.checkboxGroup {
	display: inline-flex;
}

.checkboxBtn {
	cursor: pointer;
	padding: 3px;
	background-color: #e0e0e0;
	border-color: #707070;
	color: #4a4b4b;
	margin: 0 9px 3px 9px;
	border-radius: 3px;
	height: 45px;
	width: 90px;
	display: inline-flex;
}

.checkboxBtn input[type="radio"] {
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
}

.checkboxBtn:hover {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxBtn:checked {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxBtnChecked {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxLbl {
	font-size: 0.8rem;
	text-align: center;
	margin: auto;
}